* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, input, button {
    font: 16px 'Roboto', sans-serif;

    --webkit-font-smoothing: subpixel-antialiased; /* contornos mais suaves */
}
