body .class1 ol li:first-child {
    color: red;
}

button + button {
    margin-left: 30px;
}

/* before / after do conteudo */

article p::before {
    content: ">";
}

/* nao tem first-child p e sim um h2 */
/*body article p:first-child {
    color: red;
}*/
article p:nth-child(2)::first-line {
    color: red;
}

article p:nth-child(odd) {
    color: blue;
}

article p::after {
    content: ";";
}

.content p:first-child {
    font-size: 2.5em;
    font-weight: bold;
}

button:hover {
    border-color: blue;
}