* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    height: 100vh;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.circles {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.circle-1 {
    background-color: lightcoral;
    /*
    se nao colocar aqui também, assim que tira
    o mouse, ele muda instantaneamente

    transition-property: all (pega todas as mudanças)
    */
    transition-property: all;
    transition-duration: 2s;
}

.circle-2 {
    background-color: lightgreen;
}

.circle-3 {
    background-color: lightblue;
}

.circle-4 {
    background-color: lightsalmon;
}

.circle-1:hover {
    background-color: lightslategray;
    transition-property: background-color, width;
    transition-duration: 2s;
    width: 150px;
}

/****************/

.line {
    font-size: 10px;
    width: 100%;
    height: 20px;
    margin-bottom: 10px;
    background-color: lightblue;

    transition: width;
    transition-duration: 1s;
}

.line:hover {
    width: 50px;
    background-color: lightgreen;
}

/* padrão */
.ease {
    transition-timing-function: ease;
}

.ease-in {
    transition-timing-function: ease-in;
}

.ease-out {
    transition-timing-function: ease-out;
}

.ease-in-out {
    transition-timing-function: ease-in-out;
}

.linear {
    transition-timing-function: linear;
}

.cubic {
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/****************/
