* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.balls {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    position: relative;
}

.ball-1 {
    background-color: lightcoral;

    /* pra funcionar precisa do name e duration */
    animation-name: exemplo-animacao-1;
    animation-duration: 4s;
}

.ball-2 {
    background-color: lightgreen;
    animation: exemplo-animacao-2 10s;
}

@keyframes exemplo-animacao-1 {
    /* vai começar a animação com azul*/
    from {
        background-color: lightblue;
    }
    /* e va para o verde */
    to {
        background-color: lightgreen;
    }
}

@keyframes exemplo-animacao-2 {
    0% {
        background-color: blueviolet;
    }

    25% {
        background-color: blue;
    }

    50% {
        background-color: green;
    }

    75% {
        background-color: yellow;
    }

    100% {
        background-color: gray;
    }
}
