<!DOCTYPE html>
  <%- include('../partials/head') %>
<html lang="pt-BR">
  <body class="container">
    <%- include('../partials/header') %>
    <main>
      <div>
        <h1 class="display-4">Node com EJS</h1>
        <p class="lead">Aprendendo a trabalhar com arquivos EJS</p>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>