* {
    margin: 0;
}

main {
    color: white;

    background-color: #000055;
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLQkXnYChXAHOeBQLzwhk1_BHYgUXs6ITQOakoeNoQ=s900-c-k-c0x00ffffff-no-rj);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; /*cover = cobre toda a caixa. px, em...*/
    background-origin: content-box;
    background-clip: content-box;
    background-attachment: fixed; /*Padrão é scroll*/
}