* {
    margin: 0;
}

header {
    height: 100px;
    background-color: rgb(00, 100, 00);
    border: 5px dashed red;
}

main {
    padding: 16px;
    height: 100vh;
    border: 10px dotted orange;
    background-color: #000055;
    background-image: url(https://yt3.ggpht.com/ytc/AKedOLQkXnYChXAHOeBQLzwhk1_BHYgUXs6ITQOakoeNoQ=s900-c-k-c0x00ffffff-no-rj);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain; /*cover = cobre toda a caixa. px, em...*/
    background-origin: content-box;
    background-clip: content-box;

    background: linear-gradient(red, yellow);
    background: linear-gradient(255deg, red, yellow);
    background: radial-gradient(rgba(255, 255, 255, 0), rgba(255, 0, 0, 0.2));
}