.hexa {
    color: #0000ff23; /*Red Green Blue e Alfa para transparencia*/
}

.rgb {
    color: rgb(255, 0, 0, 0.34) /*0-255 - o último é a transparência*/
}

.hsl { 
    color: hsl(180, 50%, 30%); /*hue saturation light*/
}

.hsl-alpha {
    color: hsla(255, 57%, 70%, 0.4);
}