div {
    width: 100px;
    height: 100px;
    margin: 20% auto;

    /*O border adicionou 1px pra cada lado
      então devemos utilizar o box-sizing */
    border: 10px dotted red;
    border-top: 2px double blue;
    box-sizing: border-box;
}