/*
    
    Seletores: Conecta um elemento HTML com o CSS

    Global selector: *
    Element/Type selector: 'h1, h2, p, div'
    ID selector: #container, #box
    Class selector: .m-40, .produtos

*/

* {
    margin: 0;
    padding: 0;
    border: 0;
}

h1 {
    color: red;
    font-size: 60px;
    background: #808080;
}

h2, h3 {
    color: blue;
    font-size: 40px;
    background: burlywood;
}

#container {
    width: 200px;
}

.m-40 {
    margin: 40px;
}