/*
    * = 0 (universal)
    Element/Type selector = 1
    Class = 10
    ID = 100
    Inline = 1000

    o !important sobrescreve e passa ser o precedente.

*/

#titulo {
    color: red;
}

.meuTitulo {
    color: yellow;
}

* {
    color: blue;
}

h1 {
    color: orange !important;
}