/*
    Junção de propriedades
*/

/* Propriedades do background */
* {
    background-color: orange;
    background-repeat: no-repeat;
    background-position: left top;
}

/* Propriedades do background em shorthand */

* {
    background: orange no-repeat left top;
}

/* Propriedades do font */
h1 {
    font-style: italic;
    font-weight: bold;
    font-size: .8em;
    line-height: 1.2;
    font-family: Arial, sans-serif;
}

/* Propriedades do font com shorthand */
h1 {
    font: bold italic .8em/1.2 Arial, sans-serif
}